# URL de la base de datos SQLAlchemy, ejemplo sqlite:
# SQLALCHEMY_DATABASE_URL_PRACTICA=sqlite:///./test.db
SQLALCHEMY_DATABASE_URL_PRACTICA=sqlite:///./db.sqlite3

# JWT
CLAVE=tu_clave_secreta_aqui
ALGORITMO=HS256
